
.header {
  width: 100%;
  height: 70px;
  padding: 20px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &__img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__year {
    display: none;
  }
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.navigation {

  .menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
  }

  &__link {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;

  &__icon {
    i {
      font-size: 1.4rem;
      color: var(--primary-color);
    }

    .img {
      width: 30px;
      height: 30px;
    }
  }
}

.mobile {
  display: none;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.nav--active {
  font-weight: 700 !important;
}

.cart-icon,
.bag-icon {
  position: relative;
}

.badge {
  position: absolute;
  width: 13px;
  height: 13px;
  top: -10%;
  right: -8%;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

.sticky__header {
  position: sticky;
  width: 100%;
  height: 70px;
  padding: 20px 0;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;

    &__items {
      margin: 30px 0;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }

  .mobile {
    display: block;
    &__burger{
      i {
        font-size: 1.1rem !important;
      }
    }
  }

  .logo {
    &__img {
      width: 1rem;
      height: 1rem;
    }

    &__title{
      font-size: 1rem;
    }
  }

  .cart-icon i,
  .bag-icon i{
    font-size: 1.2rem !important;
  }

  .img--width{
    width: 1.4rem !important;
    height: 1.4rem !important;
  }

  .header{
    width: 100%;
    height: 60px;
    padding: 17px 0;
  }
}

.translator{
  position: absolute;
  top: 80px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  background: white;
  &__btn{
    padding:5px 30px;
    margin: 10px 0;
    border-radius: 20px;
    background: #1f3047;
    border: none;
    outline: none;
    color: white;
  }
}
.language__translator{
  display: flex;
}
